.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #356dde;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.aboutme-frm{
  border-radius: 15px;
  padding:10px;
}


.propstats label{
  text-transform: capitalize;
  font-size: 14px;
  font-family: 'Arial', serif;
}

.propstats input[type=text], .propstats input[type=number], .propstats select{
  font-size: 14px;
  font-family: 'Arial', serif;
}

.proptype{
  text-transform: capitalize;
}

.ad-box img{
  box-shadow: 0 2px 4px rgba(0,0,0,.22);
}

.info-box{
  background: #054a7f;
  padding: 10px;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,.22);
}

.info-box h2{
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
  font-style: normal;
  margin-top: 0px !important;
  color: #ffffff;
  margin-bottom: 0px;
  padding-left: 10px;
}

.info-box i{
  font-size: 18px;
  margin-left:5px;
}

.home-ads {
  padding:8px;
}
.home-ads .banner h3 a {
  font-size: 12px;
  font-weight: bold;
}

.clickable{
  cursor: pointer;
}

.clickable a {
  text-decoration: none;
}

.adpage h5{
  font-size: 14px;
  font-weight: bold;
}


.adstats .badge{
  background-color: #054a7f;
  font-size: 16px;
  margin-right: 5px;
}


.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.pin {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 0;
  background: #e90080;
  position: absolute;
  transform: rotate(-45deg);
  left: 20%;
  top: 50%;
  margin: -20px 0 0 -20px;
}

.pin:after {
  content: "";
  width: 10px;
  height: 10px;
  margin: 5px 0 0 6px;
  background: #e6e6e6;
  position: absolute;
  border-radius: 50%;
}
