.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #356dde;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*signup/signin forms*/
.signupin-frm{
  margin-top: 100px;
  border-radius: 15px;
}
.aboutme-frm{
  border-radius: 15px;
  padding:10px;
}

.propstats textarea{
  font-size: 12px;
}

.propstats label{
  text-transform: capitalize;
  font-size: 12px;
  font-family: 'Arial', serif;
}

.propstats input[type=text], .propstats input[type=number], .propstats select{
  font-size: 12px;
  font-family: 'Arial', serif;
}

.proptype{
  text-transform: capitalize;
}

.ad-box img{
  box-shadow: 0 2px 4px rgba(0,0,0,.22);
}

.info-box{
  background: #319ae5;
  padding: 10px;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,.22);
}

.info-box h2{
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
  font-style: normal;
  margin-top: 0px !important;
  color: #ffffff;
  margin-bottom: 0px;
  padding-left: 10px;
}

.info-box i{
  font-size: 18px;
  margin-left:5px;
}

.home-ads {
  padding:8px;
}
.home-ads .banner h3 a {
  font-size: 12px;
  font-weight: bold;
}

.clickable{
  cursor: pointer;
}

.clickable a {
  text-decoration: none;
}

.adpage h5{
  font-size: 14px;
  font-weight: bold;
  font-family: 'Hind', sans-serif;
}

.contactForm{
  border: 1px solid #07889b;
  color: #000000;
  padding:10px;
}

.contactForm input{
  font-size: 12px;
}

.contactForm button{
  color:#07889b;
  background-color: white;
  border: 1px solid #07889b;
}

.contactForm button:hover{
  color:#ffffff;
  background-color: #07889b;
  border: 1px solid #07889b;
}

.contactForm textarea{
  font-size: 12px;
}

.contactForm .touchbanner{
  font-size: 14px;
  padding:5px;
  background-color: #07889b;
  margin-bottom: 10px;
  color: #ffffff;
}

.adstats .badge{
  background-color: #07889b;
  font-size: 16px;
  margin-right: 5px;
}

.contactForm input[type=checkbox]{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 5px;
}
